<div class="card-contact">
  <div class="btn-actions">
    <span class="circle close"></span>
    <span class="circle reduce"></span>
    <span class="circle minimize"></span>
  </div>
  <div class="card-head">
    <div class="card-img">
      <app-imagen-fallback
        src="https://res.cloudinary.com/dccbjuyia/image/upload/v1748639127/IMG_20211126_150558_pxtr7b.webp"
        fallback="/assets/imgs/profile-contact.webp"
        alt="profile photo"
        loading="eager"
      />
    </div>
    <span>{{ 'PROFILE_CARD.AGE' | translate }}</span>
    <span>{{ 'PROFILE_CARD.LOCATION' | translate }}</span>
  </div>
  <div class="day-quote">
    <span>
      {{ 'PROFILE_CARD.QUOTE_LABEL' | translate }}:
      <q>{{ 'PROFILE_CARD.QUOTE' | translate }}</q>
    </span>
  </div>
  <p>{{ 'PROFILE_CARD.INTEREST_FIELDS' | translate }}</p>
  <div class="labels">
    @for (tag of tagText; track $index) {
        <button>
            <span class="box"> {{ tag }} </span>
        </button>
    }
  </div>
</div>