.main
  height: 100vh
  color: var(--colorText2)
  padding: 10px
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 20px
  align-items: center
  text-align: center

  @media screen and (width <= 769px)
    height: 100%
    grid-template-columns: repeat(1, 1fr)
    padding: 20px

  .about-me
    line-height: 1.5
    background: #121212
    border: 2px solid black
    transition: all 0.8s ease

    h2
      font-size: 2rem
      padding-bottom: 1.5rem

  .arrow-expand
    display: flex
    justify-content: center
    align-items: center
    position: relative
    padding: 0.313rem 0
    cursor: pointer
    font-size: 2rem
    user-select: none
    fill: #a5a5b0

  .skills
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(3, 1fr)
    transition: all 1s ease-in
    
    .skill-item-0
      grid-column: span 2
    .skill-item-1
      grid-column: span 2
    .skill-item-2
      grid-column: span 1
    .skill-item-3
      grid-column: span 2
    .skill-item-4
      grid-column: span 1
    .skill-item-5
      grid-column: span 2
    .skill-item-6
      grid-column: span 2

    .item
      user-select: none
      position: relative

      .skillName
        position: absolute
        opacity: 0
        color: #ffffff
        text-shadow: 0 -1px 4px var(--colorHoverIcons), 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #f00
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        font-size: 2rem
        backdrop-filter: blur(3px)
        border-radius: 50%

        &:hover
          opacity: 1

section
  padding: 20px
