<footer>
  <div class="social-footer">
    <div class="social-footer-items">
      <a
        title="facebook"
        href="https://www.facebook.com/profile.php?id=61550196893818"
        attr.aria-label="{{ 'SOCIAL.FACEBOOK' | translate }}"
      >
        <div class="flex-icon facebook" aria-hidden="true">
          <i class="fa-brands fa-square-facebook"></i>
        </div>
      </a>
      <a
        title="github"
        href="https://github.com/JardelFG"
        attr.aria-label="{{ 'SOCIAL.GITHUB' | translate }}"
      >
        <div class="flex-icon github" aria-hidden="true">
          <i class="fa-brands fa-github"></i>
        </div>
      </a>
      <a
        title="linkedin"
        href="https://www.linkedin.com/in/jardeldevfls"
        attr.aria-label="{{ 'SOCIAL.LINKEDIN' | translate }}"
      >
        <div class="flex-icon linkedin" aria-hidden="true">
          <i class="fa-brands fa-linkedin"></i>
        </div>
      </a>
      <a
        title="twitter"
        href="https://twitter.com/JardelDev98"
        attr.aria-label="{{ 'SOCIAL.TWITTER' | translate }}"
      >
        <div class="flex-icon twitter" aria-hidden="true">
          <i class="fa-brands fa-x-twitter"></i>
        </div>
      </a>
      <a
        title="instagram"
        href="#"
        attr.aria-label="{{ 'SOCIAL.INSTAGRAM' | translate }}"
        tabindex="0"
      >
        <div class="flex-icon instagram" aria-hidden="true">
          <i class="fa-brands fa-instagram"></i>
        </div>
      </a>
    </div>
  </div>
  <div class="footer-text">
    <span
      >{{ "FOOTER.LOCATION" | translate }} ~
      {{ "FOOTER.WEB_VERSION" | translate }} |</span
    >
    <a
      href="http://jardeldev98portfolio.netlify.app"
      target="_blank"
      rel="noopener noreferrer"
      >{{ "FOOTER.VERSION_1" | translate }}</a
    >
  </div>
</footer>
