<div class="contact">
  <span class="contact-title">{{ "CONTACT-ME.TITLE" | translate }}</span>
  <app-contact-social-link
    ref="https://api.whatsapp.com/send/?phone=56961118038&text=Hola!+contactame+y+cuentame+que+necesitas&type=phone_number&app_absent=0"
    src="/assets/icons/icon-whatsapp.svg"
    [alt]="'CONTACT.WHATSAPP' | translate"
  />
  <app-contact-social-link
    ref="https://discord.gg/midudev"
    src="/assets/icons/icon-discord.svg"
    [alt]="'CONTACT.DISCORD' | translate"
  />
  <app-contact-social-link
    ref="https://www.linkedin.com/in/jardeldevfls"
    src="/assets/icons/icon-linkedin.svg"
    [alt]="'CONTACT.LINKEDIN' | translate"
  />
  <app-contact-social-link
    ref="https://mail.google.com/mail/?view=cm&fs=1&to=jardeldev98@gmail.com&su=Hola!%20estoy%20interesado&body=Necesito..."
    src="/assets/icons/icon-gmail.svg"
    [alt]="'CONTACT.GMAIL' | translate"
  />
</div>
