<div class="contact">
  <span class="contact-title">{{ "CONTACT-ME.TITLE" | translate }}</span>
  <app-contact-social-link
    src="/assets/icons/icon-whatsapp.svg"
    [alt]="'CONTACT.WHATSAPP' | translate"
  />
  <app-contact-social-link
    src="/assets/icons/icon-discord.svg"
    [alt]="'CONTACT.DISCORD' | translate"
  />
  <app-contact-social-link
    src="/assets/icons/icon-linkedin.svg"
    [alt]="'CONTACT.LINKEDIN' | translate"
  />
  <app-contact-social-link
    src="/assets/icons/icon-gmail.svg"
    [alt]="'CONTACT.GMAIL' | translate"
  />
</div>
