<section class="container">
  <span class="line1"></span>
  <h1 class="title">{{ 'EXPERIENCE.TITLE' | translate }}</h1>
  <span class="line2"></span>

  <div class="cards-container" id="cardList">
    <app-card-project
      [title]="'EXPERIENCE.PROJECT_BLACKLIST.TITLE' | translate"
      [description]="'EXPERIENCE.PROJECT_BLACKLIST.DESCRIPTION' | translate"
      [ref]="'https://tsnlists.netlify.app'"
      [img]="'/assets/imgs/front-blacklist.webp'"
      [links]="[
        '/assets/icons/favicon.svg',
        'assets/icons/icon-sass.svg',
        '/assets/icons/icon-typescript.svg',
        '/assets/icons/icon-netlify.svg',
      ]"
    />
  </div>
</section>