<section class="container">
  <span class="line1"></span>
  <h1 class="title">{{ 'EXPERIENCE.TITLE' | translate }}</h1>
  <span class="line2"></span>

  <div class="cards-container" id="cardList">
    <app-card-project
      [title]="'EXPERIENCE.PROJECT_BLACKLIST.TITLE' | translate"
      [description]="'EXPERIENCE.PROJECT_BLACKLIST.DESCRIPTION' | translate"
      [ref]="'https://tsnlists.netlify.app'"
      [img]="'https://res.cloudinary.com/dccbjuyia/image/upload/v1748636686/front-blacklist_f2kyli.webp'"
      [fallback]="'/assets/imgs/front-blacklist.webp'"
      [links]="[
        '/assets/icons/favicon.svg',
        'assets/icons/icon-sass.svg',
        '/assets/icons/icon-typescript.svg',
        '/assets/icons/icon-netlify.svg',
      ]"
    />
    <app-card-project
      [title]="'EXPERIENCE.PROJECT_ONLINESTORE.TITLE' | translate"
      [description]="'EXPERIENCE.PROJECT_ONLINESTORE.DESCRIPTION' | translate"
      [ref]="'https://tsn-frontendstore.vercel.app/'"
      [img]="'https://res.cloudinary.com/dccbjuyia/image/upload/v1749024642/chrome_ObM8qMTEvE_zm4yu4.png'"
      [fallback]="'/assets/imgs/front-onlinestore.webp'"
      [links]="[
        '/assets/icons/icon-react.svg',
        'assets/icons/icon-tailwind.svg',
        '/assets/icons/icon-typescript.svg',
        '/assets/icons/icon-vercel.svg',
      ]"
    />
  </div>
</section>